html {
    font-family: "Nerko One", cursive;
    color: #353c4d;
    font-size: 20px; }
    
.wrapper {
    max-width: 1000px;
    width: 100%;
    background-color: #55aa55;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 15px;
}

.card {
    background-color: white;
    border-radius: 15px;
    width: 100px;
    height: 150px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.person {
    height: 50px;
}

.card_info {
    display: flex;
    align-items: center;
    gap:3px;
}

.card_info:last-of-type {
    justify-content: flex-end; }

svg {
    height: 15px;
}

img {
    height: 15px;
}