body {
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
}

.category {
    display: flex;
    justify-content: center;
    border-bottom: 2px dashed black;
    
}

.category_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
    background-color: rgb(224, 222, 222);
    margin: 20px;
    margin-top: 60px;
}

.category_img {
    max-width: 70px;
    max-height: 70px;
    margin: 10px;
}

.category_img img {
    width: 100%;
}

.title_name span {
    font-weight: bold;
    text-transform: capitalize;
}

.category_title span {
    font-weight: bold;
}

.category__main_title {
    position: absolute;
    left: 25%;
    margin-top: 15px;
    font-weight: bold;
   
}